<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--
    类型别名可为java类型设置一个缩写名字。它仅用于XML配置，意在降低冗余的全限定类名书写，例如：
    -->
    <typeAliases>
        <package name="cn.myh001.pojo"/>
    </typeAliases>


    <!--
        配置苏剧的连接环境信息，可以配置多个environment，通过default属性切换不同的environment
    -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <!--                数据库连接信息-->
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql:///fruit_market?useSSL=false&amp;allowPublicKeyRetrieval=true"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!--       加载sql映射文件-->
        <!--        <mapper resource="cn/myh001/mapper/UserMapper.xml"/>-->
        <package name="cn.myh001.mapper"/>
    </mappers>
</configuration>